*.py[cod]

# C extensions
*.so

## IDEs
# pycharm
.idea/
.idea

# vscode
.vscode/
.vscode

# Packages
*.whl
*.egg
*.egg-info
*.tar.gz
build
eggs
parts
bin
var
sdist
dist/
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
.pytest_cache
.pytest_cache/

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build

# Cookiecutter
output/
